{extend name="public:base"/}
{block name="main"}
<div class="page-header">
    <h2>{$title|default=''}</h2>
</div>
<div class="row">
    {volist name="artList" id="art"}
    <div class="row col-md-12">
        <div class="col-md-2">
            <img src="__PUBLIC__/upload/{$art.title_img}" alt="" class="img-rounded" style="width: 100px;height: 85px">
        </div>
        <div class="col-md-10">
            <h4><a href="">{$art.title}</a></h4>
            <p>发布者:{$art.user.name} 发布时间:{$art.create_time}</p>
            <div>content</div>
        </div>
    </div>
    {/volist}
    <div class="text-center">{$artList|raw}</div>
</div>
{/block}