{extend name="public:base"/}
{block name="main"}
<div class="page-header">
    <h2>{$title|default=''}</h2>
</div>
<form class="" method="post" id="insert" action="{:url('index/index/save')}" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="title" class=" control-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="cate_id" class=" control-label">Category</label>
            <select name="cate_id" id="cate_id" class="form-control">
                {volist name="cateList" id="cate"}
                <option value="{$cate.id}">{$cate.name}</option>
                {/volist}
            </select>
    </div>
    <div class="form-group">
        <label for="title_img" class=" control-label">Title Img</label>
        <input type="file" name="title_img" id="title_img" class="">
    </div>
    <div class="form-group">
        <label for="container" class=" control-label">Content</label>
            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">
                {//这里写你的初始化内容}
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container');
            </script>
            <!--<textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>-->
    </div>

    <div class="form-group">
        <!--<label for="action">Submit</label>-->
            <button type="submit" id="action" class="btn btn-default">Submit</button>
    </div>
</form>
{/block}