<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$title|default='社区问答'}</title>
    {block name="include"}{include file="public:header" /}{/block}</head>
<body>
{block name="body"}
    <div class="container">
        <div class="col-dm-12">
            {block name="menu"}
            <!-- 导航 -->
            {include file="public/nav" /}
            {/block}
            <div class="col-md-8">
                {block name="main"}{/block}
            </div>
            {block name="right"} {include file="public/right"/}{/block}
        </div>
    </div>
    {block name="footer"}{include file="public/footer" /}{/block}
{/block}
</body>
</html>