{layout name="public:layout"/}
<h4 class="text-center text-success">文章列表</h4>
<div style="margin: 10px 0px">
    <a href="{:url('index/index/insert')}" target="_blank"><button class="btn btn-sm btn-success">添加</button></a>
</div>
<table class="table table-default table-hover ">
    <tr class="text-center">
        <td>ID</td>
        <td>标题</td>
        <td>栏目</td>
        {eq name="$Think.session.admin_level" value='1'}
        <td>作者</td>
        {/eq}
        <td>阅读量</td>
        <td>创建时间</td>
        <td>操作</td>
    </tr>
    {volist name="articleList" id="article" empty="empty"}
    <tr class="text-left">
        <td>{$article->id}</td>
        <td><a href="{:url('index/index/detail', ['id' => $article->id])}" target="_blank">{$article->title|mb_substr=0,20,'utf-8'}...</a></td>
        <td>{$article->ArticleCategory->name}</td>
        {eq name="$Think.session.admin_level" value='1'}
        <td>{$article->User->name}</td>
        {/eq}
        <td>{$article->pv}</td>
        <td>{$article->create_time}</td>
        <td>
            <a href="{:url('edit', ['id' => $article.id])}">
                <button class="btn btn-xs btn-success">UPDATE</button>
            </a>
            <a href="{:url('delete', ['id' => $article->id])}" onclick="return confirm('确认删除?')">
                <button type="button" class="btn btn-xs btn-danger">删除</button>
            </a>
        </td>
    </tr>
    {/volist}
</table>
<div class="text-center">{$articleList|raw}</div>
