{layout name="public:layout"/}
<form class="" method="post" id="insert" action="{:url('doEdit')}" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="title" class=" control-label">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="{$info->title}" required>
    </div>
    <div class="form-group">
        <label for="cate_id" class=" control-label">Category</label>
        <select name="cate_id" id="cate_id" class="form-control" required>
            {volist name="cateList" id="cate"}
            <option value="{$cate.id}">{$cate.name}</option>
            {/volist}
        </select>
    </div>
    <div class="form-group">
        <label for="title_img" class=" control-label">Title Img</label>
        <div class="">
            <img src="__PUBLIC__/upload/{$info->title_img}" alt="..." class="img-rounded" width="140">
        </div>
            <input type="file" name="title_img" id="title_img" class="" required>
    </div>
    <div class="form-group">
        <label for="synopsis" class="control-label">Synopsis</label>
        <textarea name="synopsis" id="synopsis" cols="30" rows="3" class="form-control">{$info->synopsis}</textarea>
    </div>
    <div class="form-group">
        <label for="container" class=" control-label">Content</label>
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">
                {//这里写你的初始化内容}
                {$info->content|raw}
            </script>
        <!-- 配置文件 -->
        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('container');
        </script>
        <!--<textarea class="form-control" name="content" id="content" cols="30" rows="10"></textarea>-->
    </div>
    <div class="form-group">
        <!--<label for="action">Submit</label>-->
        <input type="hidden" name="id" value="{$info->id}">
        <button type="submit" id="action" class="btn btn-default">Submit</button>
    </div>
</form>
